<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="Vert.x" packages="com.mindarray">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%blue{%d{HH:mm:ss.SSS}} [%t] %highlight{%-5level} %magenta{%logger{36}} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>

    <Logger name="com.mindarray.Utils" level="DEBUG"/>
    <Logger name="com.mindarray.ProcessHandler" level="DEBUG"/>
    <Logger name="com.mindarray.Bootstrap" level="DEBUG"/>
    <Logger name="com.mindarray.api.Monitor" level="DEBUG"/>
    <Logger name="com.mindarray.api.Discovery" level="DEBUG"/>
    <Logger name="com.mindarray.api.Credentials" level="DEBUG"/>
    <Logger name="com.mindarray.verticles.DiscoveryEngine" level="DEBUG"/>
    <Logger name="com.mindarray.verticles.DatabaseEngine" level="DEBUG"/>
    <Logger name="com.mindarray.verticles.Scheduler" level="DEBUG"/>
    <Logger name="com.mindarray.verticles.ApiRouter" level="DEBUG"/>
    <Logger name="com.mindarray.verticles.Poller" level="DEBUG"/>

  </Loggers>
</Configuration>
